body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:46px;
}
#u7743 {
  position:absolute;
  left:400px;
  top:0px;
  width:360px;
  height:45px;
  font-size:15px;
}
#u7744 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  word-wrap:break-word;
}
#u7745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7745 {
  position:absolute;
  left:410px;
  top:10px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
  text-align:left;
}
#u7746 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u7747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:561px;
}
#u7747 {
  position:absolute;
  left:400px;
  top:55px;
  width:360px;
  height:560px;
}
#u7748 {
  position:absolute;
  left:2px;
  top:272px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u7749 {
  position:absolute;
  left:400px;
  top:45px;
  width:360px;
  height:10px;
}
#u7750 {
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:21px;
}
#u7751 {
  position:absolute;
  left:420px;
  top:75px;
  width:200px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7752 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:21px;
}
#u7753 {
  position:absolute;
  left:420px;
  top:105px;
  width:146px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u7754 {
  position:absolute;
  left:0px;
  top:2px;
  width:146px;
  white-space:nowrap;
}
#u7755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:129px;
}
#u7755 {
  position:absolute;
  left:420px;
  top:135px;
  width:320px;
  height:128px;
  color:#666666;
}
#u7756 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u7757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:129px;
}
#u7757 {
  position:absolute;
  left:420px;
  top:285px;
  width:320px;
  height:128px;
  color:#666666;
}
#u7758 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u7759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:445px;
}
#u7759 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:445px;
}
#u7760 {
  position:absolute;
  left:2px;
  top:214px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:10px;
}
#u7761 {
  position:absolute;
  left:0px;
  top:605px;
  width:360px;
  height:10px;
}
#u7762 {
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
}
#u7763 {
  position:absolute;
  left:0px;
  top:445px;
  width:360px;
  height:160px;
}
#u7764 {
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7765 {
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
