body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:220px;
}
#u5698 {
  position:absolute;
  left:0px;
  top:45px;
  width:360px;
  height:220px;
}
#u5699 {
  position:absolute;
  left:2px;
  top:102px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:46px;
}
#u5700 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  font-size:15px;
}
#u5701 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  word-wrap:break-word;
}
#u5702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5702 {
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
  text-align:left;
}
#u5703 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u5704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:351px;
}
#u5704 {
  position:absolute;
  left:0px;
  top:265px;
  width:360px;
  height:350px;
}
#u5705 {
  position:absolute;
  left:2px;
  top:167px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:96px;
}
#u5706 {
  position:absolute;
  left:0px;
  top:275px;
  width:90px;
  height:95px;
  font-size:12px;
  line-height:28px;
}
#u5706_img.selected {
}
#u5706.selected {
}
#u5707 {
  position:absolute;
  left:2px;
  top:62px;
  width:86px;
  word-wrap:break-word;
}
#u5708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:96px;
}
#u5708 {
  position:absolute;
  left:90px;
  top:275px;
  width:90px;
  height:95px;
  font-size:12px;
  line-height:28px;
}
#u5708_img.selected {
}
#u5708.selected {
}
#u5709 {
  position:absolute;
  left:2px;
  top:62px;
  width:86px;
  word-wrap:break-word;
}
#u5710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:96px;
}
#u5710 {
  position:absolute;
  left:180px;
  top:275px;
  width:90px;
  height:95px;
  font-size:12px;
  line-height:28px;
}
#u5710_img.selected {
}
#u5710.selected {
}
#u5711 {
  position:absolute;
  left:2px;
  top:62px;
  width:86px;
  word-wrap:break-word;
}
#u5712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:96px;
}
#u5712 {
  position:absolute;
  left:270px;
  top:275px;
  width:90px;
  height:95px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  line-height:28px;
}
#u5712_img.selected {
}
#u5712.selected {
}
#u5713 {
  position:absolute;
  left:2px;
  top:62px;
  width:86px;
  word-wrap:break-word;
}
#u5714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5714 {
  position:absolute;
  left:25px;
  top:290px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FA4094;
}
#u5715 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u5716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5716 {
  position:absolute;
  left:115px;
  top:290px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#4D7BF3;
}
#u5717 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5718 {
  position:absolute;
  left:205px;
  top:290px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FF9900;
}
#u5719 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  word-wrap:break-word;
}
#u5720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5720 {
  position:absolute;
  left:295px;
  top:290px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#7E4EC7;
}
#u5721 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u5722 {
  position:absolute;
  left:203px;
  top:238px;
  width:60px;
  height:20px;
}
#u5723 {
  position:absolute;
  left:0px;
  top:1px;
  width:60px;
  word-wrap:break-word;
}
#u5724 {
  position:absolute;
  left:400px;
  top:0px;
  width:555px;
  height:155px;
}
#u5725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u5725 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  color:#FFFFFF;
}
#u5726 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u5727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:31px;
}
#u5727 {
  position:absolute;
  left:50px;
  top:0px;
  width:500px;
  height:30px;
  color:#FFFFFF;
}
#u5728 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u5729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u5729 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
}
#u5730 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u5731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:31px;
}
#u5731 {
  position:absolute;
  left:50px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u5732 {
  position:absolute;
  left:10px;
  top:7px;
  width:488px;
  word-wrap:break-word;
}
#u5733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u5733 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u5735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:31px;
}
#u5735 {
  position:absolute;
  left:50px;
  top:60px;
  width:500px;
  height:30px;
  text-align:left;
}
#u5736 {
  position:absolute;
  left:10px;
  top:7px;
  width:488px;
  word-wrap:break-word;
}
#u5737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:61px;
}
#u5737 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:60px;
}
#u5738 {
  position:absolute;
  left:2px;
  top:22px;
  width:46px;
  word-wrap:break-word;
}
#u5739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:61px;
}
#u5739 {
  position:absolute;
  left:50px;
  top:90px;
  width:500px;
  height:60px;
  text-align:left;
}
#u5740 {
  position:absolute;
  left:10px;
  top:14px;
  width:488px;
  word-wrap:break-word;
}
#u5741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5741 {
  position:absolute;
  left:120px;
  top:295px;
  width:30px;
  height:30px;
}
#u5742 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5743 {
  position:absolute;
  left:300px;
  top:295px;
  width:30px;
  height:30px;
}
#u5744 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
