body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:46px;
}
#u7961 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  font-size:15px;
}
#u7962 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  word-wrap:break-word;
}
#u7963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7963 {
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#333333;
  text-align:left;
}
#u7964 {
  position:absolute;
  left:0px;
  top:-2px;
  width:25px;
  word-wrap:break-word;
}
#u7965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:561px;
}
#u7965 {
  position:absolute;
  left:0px;
  top:55px;
  width:360px;
  height:560px;
}
#u7966 {
  position:absolute;
  left:2px;
  top:272px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:11px;
}
#u7967 {
  position:absolute;
  left:0px;
  top:45px;
  width:360px;
  height:10px;
}
#u7968 {
  position:absolute;
  left:2px;
  top:-3px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:21px;
}
#u7969 {
  position:absolute;
  left:20px;
  top:75px;
  width:200px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7970 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u7971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:21px;
}
#u7971 {
  position:absolute;
  left:20px;
  top:105px;
  width:146px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u7972 {
  position:absolute;
  left:0px;
  top:2px;
  width:146px;
  white-space:nowrap;
}
#u7973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:129px;
}
#u7973 {
  position:absolute;
  left:20px;
  top:135px;
  width:320px;
  height:128px;
  color:#666666;
}
#u7974 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u7975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:129px;
}
#u7975 {
  position:absolute;
  left:20px;
  top:285px;
  width:320px;
  height:128px;
  color:#666666;
}
#u7976 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
