body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u4740 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u4741 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4742 {
  position:absolute;
  left:0px;
  top:45px;
  width:361px;
  height:571px;
  overflow:hidden;
}
#u4742_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:571px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4742_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4743 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:571px;
  overflow:hidden;
}
#u4743_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:571px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u4743_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:648px;
}
#u4744 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:648px;
}
#u4745 {
  position:absolute;
  left:2px;
  top:316px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4746 {
  position:absolute;
  left:15px;
  top:560px;
  width:330px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4747 {
  position:absolute;
  left:15px;
  top:15px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
