body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:571px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:45px;
  width:360px;
  height:570px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:46px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
  text-align:left;
}
#u1262 {
  position:absolute;
  left:40px;
  top:14px;
  width:318px;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1263 {
  position:absolute;
  left:10px;
  top:10px;
  width:25px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u1265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
}
#u1265 {
  position:absolute;
  left:320px;
  top:10px;
  width:40px;
  height:25px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u1266 {
  position:absolute;
  left:0px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u1267 {
  position:absolute;
  left:90px;
  top:155px;
  width:180px;
  height:180px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:82px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:17px;
}
#u1269 {
  position:absolute;
  left:50px;
  top:367px;
  width:260px;
  height:16px;
  font-size:13px;
  color:#F2F2F2;
  text-align:center;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u1271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:221px;
}
#u1271 {
  position:absolute;
  left:70px;
  top:135px;
  width:220px;
  height:220px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:102px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:25px;
  height:10px;
}
#u1273 {
  position:absolute;
  left:70px;
  top:135px;
  width:20px;
  height:5px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:25px;
}
#u1275 {
  position:absolute;
  left:70px;
  top:135px;
  width:5px;
  height:20px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:25px;
}
#u1277 {
  position:absolute;
  left:70px;
  top:335px;
  width:5px;
  height:20px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:25px;
}
#u1279 {
  position:absolute;
  left:285px;
  top:335px;
  width:5px;
  height:20px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:25px;
}
#u1281 {
  position:absolute;
  left:285px;
  top:135px;
  width:5px;
  height:20px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:25px;
  height:10px;
}
#u1283 {
  position:absolute;
  left:270px;
  top:135px;
  width:20px;
  height:5px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:25px;
  height:10px;
}
#u1285 {
  position:absolute;
  left:70px;
  top:350px;
  width:20px;
  height:5px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:25px;
  height:10px;
}
#u1287 {
  position:absolute;
  left:270px;
  top:350px;
  width:20px;
  height:5px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:-6px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289 {
  position:absolute;
  left:80px;
  top:155px;
  visibility:hidden;
}
#u1289_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1289_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1290_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292 {
  position:absolute;
  left:80px;
  top:155px;
}
#u1292_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1292_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1293_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:2px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295 {
  position:absolute;
  left:400px;
  top:0px;
  width:555px;
  height:65px;
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u1296 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  color:#FFFFFF;
}
#u1297 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:31px;
}
#u1298 {
  position:absolute;
  left:50px;
  top:0px;
  width:500px;
  height:30px;
  color:#FFFFFF;
}
#u1299 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u1300 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:31px;
}
#u1302 {
  position:absolute;
  left:50px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u1303 {
  position:absolute;
  left:10px;
  top:7px;
  width:488px;
  word-wrap:break-word;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1305 {
  position:absolute;
  left:90px;
  top:525px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1306 {
  position:absolute;
  left:0px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u1307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u1307 {
  position:absolute;
  left:70px;
  top:575px;
  width:80px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u1308 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1310 {
  position:absolute;
  left:230px;
  top:525px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u1311 {
  position:absolute;
  left:0px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u1312 {
  position:absolute;
  left:210px;
  top:575px;
  width:80px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
