body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:600px;
}
#u8104 {
  position:absolute;
  left:0px;
  top:0px;
  width:1320px;
  height:600px;
}
#u8105 {
  position:absolute;
  left:2px;
  top:292px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u8106 {
  position:absolute;
  left:1050px;
  top:20px;
  width:97px;
  height:20px;
  color:#FFFFFF;
}
#u8107 {
  position:absolute;
  left:0px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u8108 {
  position:absolute;
  left:1160px;
  top:20px;
}
#u8108_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8108_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:21px;
}
#u8109 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u8110 {
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u8108_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8108_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:21px;
}
#u8111 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u8112 {
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u8113 {
  position:absolute;
  left:400px;
  top:150px;
  visibility:hidden;
}
#u8113_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8113_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:451px;
}
#u8114 {
  position:absolute;
  left:0px;
  top:50px;
  width:400px;
  height:450px;
  font-size:16px;
  text-align:left;
}
#u8115 {
  position:absolute;
  left:15px;
  top:217px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:51px;
}
#u8116 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
  font-size:16px;
  text-align:left;
}
#u8117 {
  position:absolute;
  left:15px;
  top:16px;
  width:383px;
  word-wrap:break-word;
}
#u8118 {
  position:absolute;
  left:20px;
  top:110px;
}
#u8118_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8118_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:371px;
}
#u8119 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:360px;
}
#u8120 {
  position:absolute;
  left:2px;
  top:172px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u8121 {
  position:absolute;
  left:25px;
  top:90px;
  width:300px;
  height:50px;
}
#u8122 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u8123 {
  position:absolute;
  left:35px;
  top:100px;
  width:30px;
  height:30px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#999999;
  text-align:center;
}
#u8124 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u8125 {
  position:absolute;
  left:70px;
  top:95px;
  width:250px;
  height:40px;
}
#u8125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u8126 {
  position:absolute;
  left:25px;
  top:160px;
  width:300px;
  height:50px;
}
#u8127 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8128 {
  position:absolute;
  left:70px;
  top:165px;
  width:250px;
  height:40px;
}
#u8128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u8129 {
  position:absolute;
  left:35px;
  top:170px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#797979;
  text-align:center;
}
#u8130 {
  position:absolute;
  left:0px;
  top:1px;
  width:30px;
  word-wrap:break-word;
}
#u8131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u8131 {
  position:absolute;
  left:25px;
  top:250px;
  width:300px;
  height:50px;
  font-size:16px;
}
#u8132 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u8133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u8133 {
  position:absolute;
  left:35px;
  top:30px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8134 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8118_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u8118_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:371px;
}
#u8135 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:360px;
}
#u8136 {
  position:absolute;
  left:2px;
  top:172px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u8137 {
  position:absolute;
  left:35px;
  top:30px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8138 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u8139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u8139 {
  position:absolute;
  left:100px;
  top:90px;
  width:150px;
  height:150px;
}
#u8140 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u8141 {
  position:absolute;
  left:75px;
  top:250px;
  width:40px;
  height:40px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:36px;
  color:#FF0000;
  text-align:center;
}
#u8142 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u8143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:41px;
}
#u8143 {
  position:absolute;
  left:120px;
  top:250px;
  width:155px;
  height:40px;
}
#u8144 {
  position:absolute;
  left:0px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
#u8145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:21px;
}
#u8145 {
  position:absolute;
  left:10px;
  top:330px;
  width:200px;
  height:20px;
  font-size:13px;
}
#u8146 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u8147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u8147 {
  position:absolute;
  left:20px;
  top:70px;
  width:175px;
  height:40px;
  color:#999999;
}
#u8147_img.selected {
}
#u8147.selected {
}
#u8148 {
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  word-wrap:break-word;
}
#u8149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:41px;
}
#u8149 {
  position:absolute;
  left:195px;
  top:70px;
  width:175px;
  height:40px;
  color:#999999;
}
#u8149_img.selected {
}
#u8149.selected {
}
#u8150 {
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  word-wrap:break-word;
}
#u8151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u8151 {
  position:absolute;
  left:360px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u8152 {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
