body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u4608 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
}
#u4609 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4610 {
  position:absolute;
  left:0px;
  top:45px;
  width:361px;
  height:571px;
  overflow:hidden;
}
#u4610_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:571px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4610_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4611 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:571px;
  overflow:hidden;
}
#u4611_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:571px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u4611_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:698px;
}
#u4612 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:698px;
}
#u4613 {
  position:absolute;
  left:2px;
  top:341px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:33px;
}
#u4614 {
  position:absolute;
  left:0px;
  top:698px;
  width:360px;
  height:32px;
}
#u4615 {
  position:absolute;
  left:2px;
  top:8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4616 {
  position:absolute;
  left:15px;
  top:15px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
